* {
    font-family: 'Courier New', Courier, monospace;
    color: #FFFFFF;
}

.wrapper {
    height: 100vh;
    display: flex;
    cursor: url('Frame3.png'), auto;
}


h1 {
    font-size: 32px;
    text-shadow: 2px 4px 4px #308b84;
    margin-bottom: 20px;
}


p {
    font-size: 16px;
    text-shadow: 1px 1px 2px #0c2e69;
    line-height: 1.5;
    max-width: 600px;
    margin: 0 auto;
}


.navigation-block {
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
}

.navigation-block ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.navigation-block a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    text-shadow: 1px 1px 2px #0c2e69;
}

.navigation-block a:hover {
    color: rgb(255, 155, 83);
    cursor: url('Frame3.png'), auto;
}




/* animations */
@keyframes FadeUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.logo {
    animation: FadeUp 3s ease both;
    animation-delay: 2s;
}

.welcome-text {
    animation: FadeUp 5s ease both;
}

.subtitle {
    animation: FadeUp 5s ease both;
    animation-delay: 3s;
}

@keyframes NavigationFade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    
}

.navigation-block {
    animation: NavigationFade 4s ease both;
    animation-delay: 2s;
}

.card {
    width: 150px;
    background-color: rgba(0,0,0,0.4);
    border: 1px solid #308b84;
    text-align: center;
    padding: 10px;
}

.card img {
    width: 100%;
    display: block;
}
